@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  scroll-behavior: smooth;
  color: white;
  background: black;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  @apply text-4xl font-bold leading-none tracking-wider text-gray-900 md:text-5xl lg:text-6xl dark:text-white uppercase;
}

.sub-heading {
  @apply text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 uppercase;
}

.card-heading {
  @apply text-xl capitalize font-semibold tracking-wider;
}

.card-subheading {
  @apply text-sm text-zinc-600;
}

.pills {
  @apply absolute text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-4 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 -top-4 right-5;
}

.btn-primary {
  @apply bg-container hover:bg-blue-800 font-medium rounded-lg text-center text-white text-sm px-5 py-2 mb-2
}

.btn-secondary {
  @apply text-container border border-container py-2 text-center px-4 rounded-lg hover:bg-container hover:text-white
}